body {
    background: linear-gradient(to bottom, #1c4ff7, #16eb56);
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    font-family: 'inter', sans-serif;
}

header {
    background: linear-gradient(to bottom, #1c4ff7, #16eb56);
    color: #070707;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    
}

nav ul li {
    display: inline;
    border-style:double;
    border-radius: 10%;
    margin-right: 80px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-style:unset;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

.anggota-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.anggota-item {
    text-align: center;
    border: 2px solid #ff0505;
    padding: 10px;
}

.anggota-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
.organisasi {
            margin-top: 30px;
        }

        .jabatan {
            margin-bottom: 20px;
        }

        .jabatan h3 {
            margin-bottom: 10px;
        }

        .jabatan img {
            width: 150px;
            border-radius: 50%;
            margin-bottom: 5px;
        }

        .jabatan p {
            font-weight: bold;
            text-align: center;
        }


/* Media Query for Smartphones */
@media only screen and (max-width: 600px) {
    .profile {
        width: 200%;
    }
    .profile-card {
        width: 200%;
    }
    .profile-img {
        width: 200px;
        height: 200px;
    }
}